
BBUserDefaults.xcodeproj/project.xcworkspace/xcshareddata/BBUserDefaults.xccheckout

BBUserDefaults.xcodeproj/project.xcworkspace/xcuserdata/mumuhou.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
